<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - Informe</title>
  <link rel="stylesheet" href="/estils.css">
</head>
<body>

  {{> header}}

  <main class="container">
    <h1>{{title}}</h1>
    <h2>Informe de Ciutats</h2>

    <table>
      <thead>
        <tr>
          <th>Ciutat</th>
          <th>País</th>
          <th>Població</th>
          <th>Ubicació</th>
          <th>Mida</th>
        </tr>
      </thead>
      <tbody>
        {{#each cities}}
          <tr>
            <td>{{name}}</td>

            <td>{{lookup ../countries country}}</td>

            <td>
              {{#if population}}
                {{population}} habitants
              {{else}}
                <em>Desconeguda</em>
              {{/if}}
            </td>

            <td>
              {{#if coastal}}
                🌊 Costanera
              {{else}}
                🏔️ Interior
              {{/if}}
            </td>

            <td>
              {{#if (lte population 800000)}}
                <span>Petita</span>
              {{else}}
                <span>Gran</span>
              {{/if}}
            </td>

          </tr>
        {{/each}}
      </tbody>
    </table>

  </main>

</body>
</html>